.chalice/deployments/
.chalice/venv/
ctest/fsdocstore.pickle

*.dur
test/fs/**
*.pickle
notebooks/
.venv/
.newvenv/

*.links
*.html
*.htm
*.jsonl
*.text
*.list
*.metadata
*.corpus
*.mp3
*.wav
*.png
*.csv
*.parquet
*.sh

.chalice/deployments/
.chalice/venv/
.DS_Store

__pycache__

*.pyc
*.objs

.ipynb_checkpoints/
*.json
*.txt
!requirements.txt
*.pdf

.chalice/
.env
.terraform/
*.pdf
*.zip
terraform.tfstate
terraform.tfstate.backup
*.tfvars
tmp.json
variables.tf

test/extracted_images/
